<footer id="footer">
  <section>
    <div class="row title-bar">
	<h5>Join Our Mailing List!</h5>
</div>
<p>We use our mailing list to send out information about meetings, competitions, events we're attending and more!</p>
<p>We encourage all students, parents, supporters, and FRC Robots to join and see what team 900 is up to!</p>
<p>Feel free to <a href="http://us7.campaign-archive2.com/home/?u=495c6b1676019d4132a46bb8a&id=f2b6d7c40c" title="View previous emails" target="_blank">peruse our previous emails.</a></p>
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
	<form action="//team900.us7.list-manage.com/subscribe/post?u=495c6b1676019d4132a46bb8a&amp;id=f2b6d7c40c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"  class="alt">
    <h4>Sign Up Here:</h4>
    <div id="mc_embed_signup_scroll" class="row uniform">
      <div class="6u 12u$(small)">
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"  placeholder="Email Address">

  			<div id="mce-responses">
  				<div class="response" id="mce-error-response"></div>
  				<div class="response" id="mce-success-response"></div>
  			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  		  <div style="position: absolute; left: -5000px;" aria-hidden="true">
  				<input type="text" name="b_495c6b1676019d4132a46bb8a_f2b6d7c40c" tabindex="-1" value="">
  			</div>
      </div>
		  <div class="6u$ 12u$(small)">
        <ul class="actions">
				      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </ul>
      </div>
	  </div>
	</form>
</div>

<!--End mc_embed_signup-->
  </section>
  <section class="split contact">
    <section class="alt">
      <h3>Location</h3>
      <p>{{site.location}}</p>
    </section>
    <section class="alt">
      <h3>Schedule</h3>
      <p><a href="{{ "/calendar/" | absolute_url }}">Team Calendar</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href="mailto:{{site.email}}" target="_blank">{{site.email}}</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow" target="_blank"><span class="label">GitHub</span></a></li>
        <li><a href="https://plus.google.com/collection/{{site.photos}}" class="icon fa-camera" rel="nofollow" target="_blank"><span class="label">Photos</span></a></li>
        <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow" target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow" target="_blank"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.youtube.com/channel/{{site.youtube}}" class="icon fa-youtube" rel="nofollow" target="_blank"><span class="label">YouTube</span></a></li>
        <li><a href="https://plus.google.com/{{site.g-plus}}" class="icon fa-google-plus" rel="nofollow" target="_blank"><span class="label">G+</span></a></li>
        <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow" target="_blank"><span class="label">Instagram</span></a></li>
      </ul>
    </section>
    <section>
      <h3>Team Handbook</h3>
      <p><a href="{{site.handbook}}" target="_blank">View/Download</a></p>
    </section>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul><li>&copy; HTML5 UP</li><li>Design by <a href="https://html5up.net" rel="nofollow">HTML5 UP</a></li><li>Jekyll Integration by <a href="https://soundgrail.com">SoundGrail</a></li></ul>
</div>
