<ul class="icons">
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow" target="_blank"><span class="label">GitHub</span></a></li>
  <li><a href="{{ "/photos/" | absolute_url }}" class="icon fa-camera" rel="nofollow" target="_blank"><span class="label">Photos</span></a></li>
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow" target="_blank"><span class="label">Facebook</span></a></li>
  <li><a href="https://www.youtube.com/channel/{{site.youtube}}" class="icon fa-youtube" rel="nofollow" target="_blank"><span class="label">YouTube</span></a></li>
  <li><a href="{{ "/calendar/" | absolute_url }}" class="icon fa-calendar" rel="nofollow"><span class="label">Calendar</span></a></li>
</ul>
